/* test change */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
     font-family: Roboto,Arial,sans-serif;
 
}
.container {
    
    width:100vw;
    height:100vh;
   
}

.navbar{
 
     position:sticky;
     top:0;
     display:flex;
     background-color: rgb(221, 174, 174);
     justify-content: space-between;
     align-items: center;
     padding: 8px 30px;
     
     
}
.leftnav {
    display: flex;
    gap:20px;
}
.leftnav img:nth-child(2) {
    width: 90px;
}
.centerNav {
    width:55%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-right: 30px;
}
.centerNav > input {
    width:60%;
    border: none;
   border-bottom-left-radius:20px;
   border-top-left-radius:20px;

    padding: 12px;
}
.centerNav img:nth-child(2) {
    padding: 3px 15px;
    background-color: #796d6d;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}
.centerNav img:nth-child(3) {
    margin-left: 16px;
    background-color: #8b8484;
    border-radius: 50px;
    padding: 8px;
}
.rightNav {
    display: flex;
    gap: 20px;
}
.rightNav img:nth-child(3) {
     width:40px;
     border-radius: 30px;
}
.ytPremium {
   
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
  
    height: 61%;
    gap: 50px;
}
.ytDesc > h2 { 

    text-align: center;
    font-weight: lighter;
    font-size: 32px;
    opacity: 0.8;

}
.ytPremiumDetails {
    display: flex;
    flex-direction: column;  
    text-align: center;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.ytPremiumDetails > button {
    padding: 15px 20px;
    border-radius: 40px;
    width: 50%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background-color: #3ea6ff;
}
.ytPremiumDetails p:nth-child(2) {

    font-size: 18px;
    /* line-height: 100px; */
   font-weight: 100;

}

.annual {
    color: #3ea6ff;
}

.ytPremiumDetails :nth-child(4) {
    color: #3ea6ff;
}
.features {

    background-color: black;
    color: white;
    display: flex;
    height: 39%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;;

}
.features :nth-child(1),.features :nth-child(2),.features :nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.features :nth-child(1) > p,.features :nth-child(2) > p,.features :nth-child(3) > p {
      
     color: rgba(232, 226, 226, 0.639);
}

.bpg1{
  background-image: url(a/bg1.jpeg);
  width: 100%;
  height: 55%;
  background-size: cover;
}
.details {
    padding:250px 100px 100px 1000px ;

   
}
.details > p {
   font-size:small;
   font-weight: 50;
   font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.bpg2{
  background-image: url(a/bg2.jpeg);
  width: 100%;
  height: 55%;
  background-size: cover;
}
.details2 {
    padding:250px 0px 0px 600px ;

   
}
.details2 > p {
   font-size:small;
   font-weight: 50;
   font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
.bpg3{
  background-image: url(a/bg3.jpeg);
  width: 100%;
  height: 55%;
  background-size: cover;
}
.details3 {
    padding:250px 0px 0px 600px ;

   
}
.details3 > p {
   font-size:small;
   font-weight: 50;
   font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
.bpg4{
  background-image: url(a/bg4.jpeg);
  width: 100%;
  height: 55%;
  background-size: cover;
}
.details4 {
    padding:250px 0px 0px 600px ;

   
}
.details4 > p {
   font-size:small;
   font-weight: 50;
   font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
p{
    font-family: 'Courier New', Courier, monospace;
    
}